body {
    background-color: #d5d5d5;
  }

  .quiz-container {
    box-sizing: border-box;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 2em;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .choices {
    display: flex;
  }

  .choice {
    font-size: 1em;
    display: block;
    margin: 5px 5px;
    padding: .5em .75em;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .choice:hover {
    background-color: #2980b9;
  }
